:root {
  --accent-color: #2563eb;
  --white: #fff;
  --radius: 8px;
  --spacing: 1rem;
  --primary-color: #0b0b0c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'book antiqua', serif;
  background: #f5f5f5;  
  margin: 0;
}
/* HEADER */
.header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
/* CABECERA */
.cabecera {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  font-family: 'book antiqua', serif;
}
/* MENÚ CENTRADO */
.nav {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 15px 0;
  justify-content: center;
  position: relative;
  z-index: 999;
}
.nav li a {
  text-decoration: none;
  color: #111;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
.nav li a:hover {
  color: #111010;
}
.logo img {
  width: 40px;
  height: auto;
  display: block;
}
/* ICONOS DERECHA */
.icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}
.icons a {
  color: #111;
  text-decoration: none;
  transition: color 0.3s;
}
.icons a:hover {
  color: #2563eb;
}

/* CONTENEDOR PRINCIPAL */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: 250px 250px 250px 250px 250px 320px 250px 250px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  font-family: 'book antiqua', serif; 
  position: relative;
  overflow: hidden;   
}
.container div {
  position: relative;
}
.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  transition: transform 0.4s ease;
  display :block;
}
#card-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
#card-2, #card-3, #card-4, #card-5, #card-6, #card-7, .card-8, #card-9 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
}
#card-2 {
  grid-column: 1 / 2;
  grid-row: 2;
}
#card-3 {
  grid-column: 2 / 3;
  grid-row: 2;
}
#card-4 {
  grid-column: 1 / 2;
  grid-row: 3;
}
#card-5 {
  grid-column: 2 / 3;
  grid-row: 3;
}
#card-2, #card-3, #card-4, #card-5 p {
  color: rgb(8, 1, 1);
  font-weight: bold; 
  font-size: large;
}
#card-6 {
  grid-column: 1 / 3;
  grid-row: 4;
}
#card-6 h2 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-family: 'book antiqua', serif;
  position: relative;
  top: 40px;
  margin-left: 10px;
}
#card-6 p {
  color: var(--primary-color);
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 40px;
}
#card-7 {
  grid-column: 1 / 3;
  grid-row: 5;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'book antiqua', serif; 
  text-decoration:  none;
  margin-left: 10px;
}
.overlay a {
  text-decoration: none;
  color: #111;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
.overlay h2 {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}
.overlay p {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  position: absolute;
  top: 150px;
}
.overlay-7 {
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateY(-55%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  color: white;
  max-width: 350px;
}
.overlay-7 h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.overlay-7 a {
  text-decoration: none;
  color: #111;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
.overlay-7 p {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
.contenedor-scroll {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 25px;
  gap: 20px;
  grid-column: 1 / 3;
  grid-row: 6;
}
.contenedor-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-8 {
  min-width: 350px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.card-8 p {
  color: rgb(8, 1, 1);
  font-weight: bold; 
  font-size: large;
}
.btn {
  position: absolute;
  background-color: white;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.6s;
  bottom: 10px;
  left: 5px;
}
#btn8_1, #btn8_2, #btn8_3, #btn8_4 {
  text-decoration: none;
  top: 180px;
  height: 35px;
  font-size: 12px;
}
#btn7 {  
  top: 120px;
  left: 80px;
  width: 195px;
  height: 35px;
}
#btn10 {
  top: 150px;
  text-decoration: none;
  height: 35px;
  position: sticky;
}
#btn11 {
  text-decoration: none;
  position: sticky;
}
.texto{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 15px;             
  word-wrap: break-word; 
  word-break: break-all;
  max-width: 100%;
}

.contenedor-scroll::-webkit-scrollbar {
    height: 10px;
}
.contenedor-scroll::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}
#card-9 {
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 7;
}
#card-9 h2 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--white);
  font-family: 'book antiqua', serif;
  position: relative;
  top: 40px;
  margin-left: 10px;
}
#card-9 p {
  color: var(--white);
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 40px;
}
#card-10 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  grid-column: 1 / 3;
  grid-row: 8;
}
.texto h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: black;
  font-family: 'book antiqua', serif;
  text-align: center;
}
.texto p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
#card-10 img {
  width: 70%;
  height: 90%;
  object-fit: cover;
  border-radius: var(--radius);
  justify-self: end;
  position: relative;
}
/* FOOTER */
.footer-background {
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  background: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.footer p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
}
.newsletter-box {
  background: #000;
  padding: 20px;
  text-align: center;
}
.newsletter-box form {
  display: flex;
  justify-content: center;
  border: 2px solid #555;
  border-radius: 40px;
  overflow: hidden;
  max-width: 400px;
  margin: auto;
}
.newsletter-box input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}
.newsletter-box input::placeholder {
  color: #aaa;
}
.newsletter-box button {
  background: #fff;
  color: #000;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 40px;
}
.check {
  margin-top: 15px;
  font-size: 13px;
  color: #ccc;
}
.check input {
  margin-right: 8px;
}
.check a {
  color: #fff;
  text-decoration: underline;
}
.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.links div {
  min-width: 200px;
}
.newsletter form {
  display: flex;
  max-width: 500px;
  margin: auto;
}

/* ICONOS */
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.links h3 {
  margin-bottom: 10px;
}
.links ul {
  list-style: none;
  padding: 0;
}
.links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.links a:hover {
  text-decoration: underline;
}
.social {
  text-align: center;
  margin-top: 20px;
}
.social a {
  margin: 0 12px;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}
.social a:hover {
  color: #ccc;
}
.promo-container {
  max-width: 1200px;
  background-color: rgb(220, 219, 219);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}
.promo-text {
  color: rgb(3, 3, 3);
  margin: 0;
  flex: 1;
}
.promo-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 20px;
}
.promo-container a {
  color: #080808fb;
  text-decoration: none;
}
/* HOVER EFECTOS */
.card:hover img {
    transform: scale(1.1);
}
.card:hover .overlay {
    opacity: 1;
}
.card:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
/* ===RESPONSIVE === */
@media (max-width: 768px) {
  .links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 750px) {
    .container {
        grid-template-columns:  1fr;
    }
}

@media (max-width: 750px) {
    .nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }
    .icons{
        justify-content:center;
    }

    .container{
        grid-template-columns:1fr;
        grid-template-rows:auto;
        grid-auto-rows:auto;
    }

    #card-1,
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    #card-9,
    #card-10{
        grid-column:1;
        grid-row:auto;
    }

    #card-1,
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    .card-8,
    #card-9{
        min-height:350px;
    }
    #card-10{
        min-height:350px;
        align-items:center;
    }

    #btn8_1,
    #btn8_2,
    #btn8_3,
    #btn8_4{
        margin-top:90px;
        font: size 8px;
    }
    #btn10,#btn11{
        position:sticky;
        font-size: 14px;
    }
    #card-10{
        flex-direction:column;
    }
    .overlay h2 {
      color: white;
      font-size: 25px;
      margin-left: 10px;
    }
    .overlay p {
      color: white;
      font-size: 14px;
      margin-left: 5px;
      position: absolute;
 
    }
    .texto h2 {
      font-size: 20px;
      margin-bottom: 10px;
      color: black;
      font-family: 'book antiqua', serif;
    }
    .texto p {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .texto{
        padding:20px;
        text-align:right;
    }

    .promo-container{
        flex-direction:column;
        text-align:center;
        gap:10px;
    }

    .promo-button{
        margin-left:0;
    }

    .links{
        justify-content:center;
    }
}