:root {
  --accent-color: #2563eb;
  --white: #fff;
  --radius: 8px;
  --spacing: 1rem;
  --primary-color: #0b0b0c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'book antiqua', serif;
  background: #f5f5f5;  
  margin: 0;
}
/* HEADER */
.header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
/* CABECERA */
.cabecera {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-family: 'book antiqua', serif;
}
/* MENÚ CENTRADO */
.nav {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 15px 0;
  justify-content: center;
  position: relative;
  z-index: 999;
}
.nav li a {
  text-decoration: none;
  color: #111;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
.nav li a:hover {
  color: #111010;
}
.logo img {
  width: 40px;
  height: auto;
  display: block;
}
/* ICONOS DERECHA */
.icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}
.icons a {
  color: #111;
  text-decoration: none;
  transition: color 0.3s;
}
.icons a:hover {
  color: #2563eb;
}

/* CONTENEDOR PRINCIPAL */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: 250px 250px 250px 250px 250px 320px 250px 250px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  font-family: 'book antiqua', serif; 
  position: relative;
  overflow: hidden;   
}
.container div {
  position: relative;
}
.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  transition: transform 0.4s ease;
  display :block;
}
.card-1 {
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1;
}
.card-2 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  grid-column: 1 / 2;
  grid-row: 2;
}
.card-3 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  grid-column: 2 / 3;
  grid-row: 2;
}
.card-4 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  grid-column: 1 / 2;
  grid-row: 3;
}
.card-5 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  grid-column: 2 / 3;
  grid-row: 3;
}
.card-6 {
  width: 100%;
  height: 100%;
  font-family: 'book antiqua', serif;
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  grid-column: 1 / 3;
  grid-row: 4;
}
.card-6 h1 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-family: 'book antiqua', serif;
  position: relative;
  top: 40px;
  margin-left: 10px;
}
.card-6 p {
  color: var(--primary-color);
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 40px;
}
.card-7 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 5;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'book antiqua', serif; 
  text-decoration:  none;
  margin-left: 10px;
}
.overlay a {
  text-decoration: none;
  color: #111;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
.overlay h1 {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}
.overlay p {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  position: absolute;
  top: 150px;
}
.overlay-7 {
  position: relative;
  top: 60%;
  left: 10%;
  transform: translateY(-55%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  color: white;
  max-width: 400px;
}
.overlay-7 h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.overlay-7 a {
  text-decoration: none;
  color: #111;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
.contenedor-scroll {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 25px;
  gap: 20px;
  grid-column: 1 / 3;
  grid-row: 6;
}
.contenedor-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-8 {
  min-width: 350px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.card-2, .card-3, .card-4, .card-5 p {
  color: rgb(8, 1, 1);
  font-weight: bold; 
  font-size: large;
}
.card-8 p {
  color: rgb(8, 1, 1);
  font-weight: bold; 
  font-size: large;
}
.btn {
  position: absolute;
  background-color: white;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.6s;
  bottom: 10px;
  left: 5px;
}
.btn_7  {
  position: absolute;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.6s;
  top: 115px;
}
.btn_8  {
  position: absolute;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.6s;
  top: 210px;
}
.btn_10  {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 40px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.6s;
}

.contenedor-scroll::-webkit-scrollbar {
    height: 10px;
}
.contenedor-scroll::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}
.card-9 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 7;
}
.card-9 h1 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--white);
  font-family: 'book antiqua', serif;
  position: relative;
  top: 40px;
  margin-left: 10px;
}
.card-9 p {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 40px;
}
.card-10 {
  border: 20px solid rgb(239, 239, 239);
  box-shadow: 0 0 5px rgb(223, 221, 221), 0 0 10px rgb(240, 239, 239);
  display: flex;
  flex-direction: row;
  gap: 20px;
  grid-column: 1 / 3;
  grid-row: 8;
}
.texto h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: black;
  font-family: 'book antiqua', serif;
}
.texto p {
  font-size: 16px;
  margin-bottom: 10px;
}
.card-10 img {
  width: 50%;
  height: 90%;
  object-fit: cover;
  border-radius: var(--radius);
  justify-self: end;
  position: relative;
}
/* FOOTER */
.footer-background {
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  background: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.footer p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
}
.newsletter-box {
  background: #000;
  padding: 20px;
  text-align: center;
}
.newsletter-box form {
  display: flex;
  justify-content: center;
  border: 2px solid #555;
  border-radius: 40px;
  overflow: hidden;
  max-width: 400px;
  margin: auto;
}
.newsletter-box input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}
.newsletter-box input::placeholder {
  color: #aaa;
}
.newsletter-box button {
  background: #fff;
  color: #000;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 40px;
}
.check {
  margin-top: 15px;
  font-size: 13px;
  color: #ccc;
}
.check input {
  margin-right: 8px;
}
.check a {
  color: #fff;
  text-decoration: underline;
}
.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.links div {
  min-width: 200px;
}
.newsletter form {
  display: flex;
  max-width: 500px;
  margin: auto;
}

/* ICONOS */
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.links h3 {
  margin-bottom: 10px;
}
.links ul {
  list-style: none;
  padding: 0;
}
.links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.links a:hover {
  text-decoration: underline;
}
.social {
  text-align: center;
  margin-top: 20px;
}
.social a {
  margin: 0 12px;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}
.social a:hover {
  color: #ccc;
}
.promo-container {
  max-width: 1200px;
  background-color: rgb(220, 219, 219);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}
.promo-text {
  color: rgb(3, 3, 3);
  margin: 0;
  flex: 1;
}
.promo-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 20px;
}
.promo-container a {
  color: #080808fb;
  text-decoration: none;
}
/* HOVER EFECTOS */
.card:hover img {
    transform: scale(1.1);
}
.card:hover .overlay {
    opacity: 1;
}
.card:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
/* ===RESPONSIVE === */
@media (max-width: 600px) {
  .links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .newsletter form {
    flex-direction: column;
  }
  .newsletter input {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
  }
  .newsletter button {
    width: 100%;
    border-radius: 30px;
  }
}
@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

